<<<<<<< HEAD
.khan__quote{
    margin: 0 0 36px;
    padding: 0;
=======
.khan__quote {
    margin-bottom: 36px;
>>>>>>> 9c6038782aea68c2b56e6254dff065f424c28132
    width: 790px;
    line-height: 34px;
    font-size: 24px;
    font-weight: normal;
<<<<<<< HEAD
}
=======
}
>>>>>>> 9c6038782aea68c2b56e6254dff065f424c28132
