.footer__column-heading{
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 0;
    line-height: 30px;
    font-size: 18px;
    font-weight: bold;
    color: white;
 }